body {
    font-family: Arial;
}

.todo-grid,
.todo-input-grid {
    display: grid;
    grid-template-columns: 200px 150px 120px;
    row-gap: 10px;
    column-gap: 10px;
    align-items: center;
}

.add-button {
    background-color: rgb(5, 143, 5);
    color: white;
    border: none;
    border-radius: 2px;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
}

.delete-button {
    background-color: rgb(173, 10, 10);
    color: white;
    border: none;
    border-radius: 2px;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
}

.todo-input-grid {
    margin-bottom: 10px;
    align-items: stretch;
}

.name-input,
.date-input {
    font-size: 15px;
    padding: 6px;
    cursor: pointer;
}